body {
  background: #555555;
  color: #FFFFFF;
  font: 14px "Proxima Nova Bold","Helvetica Neue",Arial,Helvetica,sans-serif;
  overflow: hidden;
}

#container {
  background: #555555;
  height: 900px;
  width: 100%;
  overflow: hidden;
}

#header {
  top: 0%;
  height: 50px;
  margin-bottom: .5%;
  background: #000000;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

#chart {
  background: #FFFFFF;
  height: 62%;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

rect {
    fill: #ffffff;
}

.node {
    fill: #000000;
}

.cursor {
    fill: none;
    stroke: brown;
    pointer-events: none;
}

.link {
    stroke: #999999;
}

