body {
  background: #555555;
  color: #FFFFFF;
  font: 14px "Proxima Nova Bold","Helvetica Neue",Arial,Helvetica,sans-serif;
  overflow: hidden;
}

.container {
  background: #555555;
  height: 900px;
  width: 1100px;
  margin: auto;
  overflow: hidden;
}

.header {
  height: 50px;
  margin-bottom: 5px;
  background: #000000;
  width: auto;
  text-align: center;
  text-decoration: underline;
}

.link {
    stroke: #999999;
}

