body {
  background: #555555;
  color: #FFFFFF;
  font: 14px "Proxima Nova Bold","Helvetica Neue",Arial,Helvetica,sans-serif;
  overflow: hidden;
}

.container {
  height: 1100px;
  width: 910px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.data {
  height: 300px;
  width: 910px;
}

.footer {
  height: 400px;
  width: 910px;
  background: #000000;
  background-image: url('../imgs/Earth.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}

.link {
    stroke: #999999;
}

